.container{
    height:100%;
    display:flex;
    flex-direction:row;
}
.left-nav{
    float:left;
    width:200px;
    height:100%;
    border-right: 1px solid #260991;
    text-align:center;
}
.right-content{
    flex:1;
    padding:1em;
    color:rgb(11, 11, 15);
}
.title{
    font-size:20px;
    line-height:2em;
}
.nav-list-item{
    line-height:2.5em;
    border-bottom:1px solid #d11313;
}